

ul{
    display: flex;

 
}

li{
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
  
    
}

a{
    color: white;
  
}

nav{
    font-size: large;
    font-family: cursive
    
}