.login{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;

}

.login > input{
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
  
}

